name: 'Submodule - Check'

on:
  workflow_call:

jobs:
  test:
    name: 'Test'
    runs-on: ubuntu-latest
    steps:
      - name: 'Checkout project sources'
        uses: actions/checkout@v6
      
      - name: 'Setup Node.js'
        uses: actions/setup-node@v6
        with:
          node-version: '18'
          cache: 'npm'
      
      - name: 'Install dependencies'
        run: npm ci
      
      - name: 'Run tests'
        run: npm test
      
      - name: 'Run tests with coverage'
        run: npm run test:coverage
      
      - name: 'Upload coverage report to artifacts'
        uses: actions/upload-artifact@v5
        with:
          name: coverage-report
          path: coverage/
          retention-days: 30
